[submodule "src/libexpat"]
	path = src/libexpat
	url = git://github.com/libexpat/libexpat.git
[submodule "src/riscv-binutils"]
	path = src/riscv-binutils
	url = git://github.com/sifive/riscv-binutils-gdb.git
[submodule "src/riscv-gcc"]
	path = src/riscv-gcc
	url = git@github.com:sifive/riscv-gcc-internal.git
[submodule "src/riscv-gdb"]
	path = src/riscv-gdb
	url = git://github.com/sifive/riscv-binutils-gdb.git
[submodule "src/riscv-newlib"]
	path = src/riscv-newlib
	url = git://github.com/sifive/riscv-newlib.git
[submodule "src/riscv-openocd"]
	path = src/riscv-openocd
	url = git://github.com/riscv/riscv-openocd.git
[submodule "src/xc3sprog"]
	path = src/xc3sprog
	url = git://github.com/sifive/xc3sprog.git
[submodule "src/trace-decoder"]
	path = src/trace-decoder
	url = git://github.com/sifive/trace-decoder.git
[submodule "src/dtc"]
	path = src/dtc
	url = git://github.com/dgibson/dtc.git
[submodule "src/freedom-elf2hex"]
	path = src/freedom-elf2hex
	url = git://github.com/sifive/freedom-elf2hex.git
[submodule "src/riscv-qemu"]
	path = src/riscv-qemu
	url = git://git.qemu.org/qemu.git
[submodule "src/picolibc"]
	path = src/picolibc
	url = https://github.com/keith-packard/picolibc.git
[submodule "src/riscv-isa-sim"]
	path = src/riscv-isa-sim
	url = git://github.com/riscv/riscv-isa-sim.git
